

<h1>New addition</h1>


<form action="/wizard_add">
 

  <label for = "digit_1"> Add this: </label>
  <input id = "digit_1" type = "text" name = "digit_1">

  <label for = "digit_2"> to this: </label>
  <input id = "digit_2" type = "text" name = "digit_2">

<button> Add! </button>
