<h1>New division</h1>



<form action = "/wizard_divide">
  <label for = "digit_1"> Divide this: </label>
  <input id = "digit_1" type = "text" name = "digit_1">

  <label for = "digit_2"> by this: </label>
  <input id = "digit_2" type = "text" name = "digit_2">

<button> Divide! </button>
