<h1>Multiplication</h1>


<dl>
  <dt>First number</dt>
  <dd><%= @digit_1 %></dd>

  <dt>Second number</dt>
  <dd><%= @digit_2 %></dd>

  <dt>Result</dt>
  <dd><%= @result %></dd>
</dl>


<a href="/wizard multiply">Do another multiplication</a>
