
<h1> New addition </h1>


<form action = "https://upgraded-acorn-97644g699v55fprvg-3000.app.github.dev/">
  <label for = "digit_1"> Add this: </label>
  <input type = "text" name = "digit_1">

  <label for = "digit_2"> to this: </label>
  <input type = "text" name = "digit_2">

<button> Add! </button>
