
<h1>New subtraction</h1>


<form action = "/wizard_subtract">

  <label for = "digit_1"> Subtract this: </label>
  <input id = "digit_1" type = "text" name = "digit_1">

  <label for = "digit_2"> from this: </label>
  <input id = "digit_2" type = "text" name = "digit_2">

<button> Subtract! </button>
